# Basic Calculation

In [11]:
a = 17
b = 91

# Q1. Using different a and b, Find correct comparison sign (==, <=, >=, <, or >) in the equation bellow (score : 10)
print (b == (b/a * a + b%a))
print (b <= (b/a * a + b%a))
print (b >= (b/a * a + b%a))
print (b < (b/a * a + b%a))
print (b > (b/a * a + b%a))

False
True
False
True
False

In [10]:
a = 17
b = 91

# Q1. Using different a and b, Find correct comparison sign (==, <=, >=, <, or >) in the equation bellow (score : 10)
# dengan tidak memakai persamaan

if a == b:
   print("a itu sama dengan b")
elif a <= b:
   print("a itu kurang dari sama dengan b")
elif a >= b:
   print("a itu lebih dari b")
elif a < b:
   print("a itu kurang dari b")
elif a > b:
   print("a itu lebih dari b")
elif a % b :
   print("a tidak habis dibagi dengan b")
else:
   print("a tidak bisa dihitung dengan b")

a itu kurang dari sama dengan b

In [8]:
# Q2. can you determine the pattern when it will be equal equation? (score : 10)
if (b == (b/a * a + b%a)):
  print("sama")
else: 
  print("beda")

beda

In [9]:
# Q2. can you determine the pattern when it will be equal equation? (score : 10)
# dengan tidak memakai persamaan
if a==b:
  print("sama")
else: 
  print("beda")

beda

# Data Types

In [ ]:
# Q1. change text above into list and set (score : 10)
text = "Negara Kedaulatan Republik Indonesia"
# pertanyaan list dan set
text = {"Negara Kedaulatan Republik Indonesia"}
set(text)

{'Negara Kedaulatan Republik Indonesia'}

In [ ]:
# pertanyaan list and set
text = {"Negara Kedaulatan Republik Indonesia"}
print(text)

{'Negara Kedaulatan Republik Indonesia'}

In [ ]:
# Q2. print data types of each items/elements in this list (score : 20)
list_angka = [1, 1.0, "string", ["ini", "list"]]
print(list_angka)
## Answer Code Below ##
print('Tipe dari 1:', type(1))
print('Tipe dari 1.0:', type(1.0))
print('Tipe dari string:', type('string'))
print('Tipe dari ini:', type('ini'))
print('Tipe dari list:', type('list'))

[1, 1.0, 'string', ['ini', 'list']]
Tipe dari 1: <class 'int'>
Tipe dari 1.0: <class 'float'>
Tipe dari string: <class 'str'>
Tipe dari ini: <class 'str'>
Tipe dari list: <class 'str'>

In [12]:
# dengan cara simpelnya bisa seperti ini
list_angka = [1, 1.0, "string", ["ini", "list"]]
for element in list_angka :
  print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

# Data Structure

In [13]:
#list_prime = [1, 2, 3, 5, 8, 9] #asli
list_prime = [1, 2, 3, 5, 6, 8, 9, 4]

In [ ]:
# Q1. Correct list of prime bellow using item assignment (score : 10)

for i in list_prime[:]:
 
  if i <= 1:
    list_prime.remove(i)
  if i>1:
    for y in range (2, i):
    
      if (i%y == 0):
        
        break
print(list_prime)

[2, 3, 5]

In [ ]:
# Q2. set
setA = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
setB = {5, 10, 15, 20}

# find symetrics difference of setA and setB (score : 5)
print(setA.symmetric_difference(setB))

{2, 4, 5, 6, 8, 12, 14, 15, 16, 18}

In [ ]:
# find difference from setA to setB (score : 5)
setA = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
setB = {5, 10, 15, 20}
print(setA.difference(setB))

{2, 4, 6, 8, 12, 14, 16, 18}

In [ ]:
# Q3. find values of Zizi's history marks using code (score : 15)

sampleDict = {
    "Class": { 
        "12 IPA 6" : {
            "Student" : {
                "Zizi" : {
                    "marks": {
                        "physics": 70,
                        "history": 80
                    }
                }
            }
        }
    }
}

## Correct this code ##
print(sampleDict["Class"]["12 IPA 6"]["Student"]["Zizi"]["marks"]["history"])

80

In [ ]:

sampleDict = {
    "Class": { 
        "12 IPA 6" : {
            "Student" : {
                "Zizi" : {
                    "marks": {
                        "physics": 70,
                        "history": 80
                    }
                }
            }
        }
    }
}


# Q4. Add another marks of 'math' with value 100 (score : 15)

sampleDict["Class"]["12 IPA 6"]["Student"]["Zizi"]["marks"]["math"]=100
print(sampleDict)
print(sampleDict["Class"]["12 IPA 6"]["Student"]["Zizi"]["marks"]["math"])

{'Class': {'12 IPA 6': {'Student': {'Zizi': {'marks': {'physics': 70, 'history': 80, 'math': 100}}}}}}
100