# 0. Import Packages

In [19]:
## Install First if you haven't install it yet!
!pip install numpy
!pip install scipy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.21.5)

In [20]:
import numpy as np
from scipy import stats
#import scipy
#scipy.__version__
#!pip install --upgrade scipy

# 1. Statistical Descriptive

In [23]:
# 1. Hitung Mean dan Median dari data dibawah ini (score : 10)
list_bp_after = [153, 170, 168, 142, 141, 147, 133, 141, 131, 125, 164, 159, 135, 159, 153, 126, 162, 134, 136, 150, 168
                 , 155, 136, 132, 160, 160, 136, 183, 152, 162, 151, 139, 175, 184, 151, 171, 157, 159, 140, 174, 167, 158
                 , 168, 159, 153, 164, 169, 148, 185, 163, 146, 160, 175, 163, 185, 146, 176, 147, 161, 164, 149, 142, 146
                 , 138, 131, 145, 134, 135, 131, 135, 133, 135, 168, 144, 147, 151, 149, 147, 149, 135, 127, 150, 138, 147
                 , 157, 146, 148, 136, 146, 132, 145, 132, 157, 140, 137, 154, 169, 145, 137, 143, 178, 141, 149, 148, 138
                 , 143, 167, 158, 152, 154, 161, 143, 159, 177, 142, 152, 152, 174, 151, 163]


### Start Your Code Here ###

In [24]:
# calculate mean
print("average blood pressure \t:", np.mean(list_bp_after))

# calculate median
print("median blood pressure \t:", np.median(list_bp_after))

# calculate mode
val,count = stats.mode(list_bp_after)
print("mode blood pressure \t:",val[0])

average blood pressure 	: 151.35833333333332
median blood pressure 	: 149.5
mode blood pressure 	: 135

In [25]:
# 2. Hitung standard devias dan interquartile range (q3 dikurangi q1) dari data dibawah ini (score : 10)
list_bp_before = [143, 163, 153, 153, 146, 150, 148, 153, 153, 158, 149, 173, 165, 145, 143, 152, 141, 176, 143, 162, 149
                  , 156, 151, 159, 164, 154, 152, 142, 162, 155, 175, 184, 167, 148, 170, 159, 149, 140, 185, 160, 157, 158
                  , 162, 160, 180, 155, 172, 157, 171, 170, 175, 175, 172, 173, 170, 164, 147, 154, 172, 162, 152, 147, 144
                  , 144, 158, 147, 154, 151, 149, 138, 162, 157, 141, 167, 147, 143, 142, 166, 147, 142, 157, 170, 150, 150
                  , 167, 154, 143, 157, 149, 161, 142, 162, 144, 142, 159, 140, 144, 142, 145, 145, 168, 142, 147, 148, 162
                  , 170, 173, 151, 155, 163, 183, 159, 148, 151, 165, 152, 161, 165, 149, 185]

### Start Your Code Here ###

In [26]:
#variance
print("variance of blood pressure \t\t:", np.var(list_bp_before))

#standard deviation
print("standard deviation of blood pressure \t:",np.std(list_bp_before))

#range
print("range of blood pressure \t\t:", max(list_bp_before) - min(list_bp_before))

#Quartile (q1, q2 ,q3)
print("q1 \t\t\t\t\t:", np.quantile(list_bp_before, 0.25))
print("q2 \t\t\t\t\t:", np.quantile(list_bp_before, 0.5))
print("q3 \t\t\t\t\t:", np.quantile(list_bp_before, 0.75))

# interquartile range (q3 dikurangi q1)
print("interquartile range (q3 dikurangi q1)\t:", np.quantile(list_bp_before, 0.75) - np.quantile(list_bp_before, 0.25))

variance of blood pressure 		: 128.6475
standard deviation of blood pressure 	: 11.342288128944706
range of blood pressure 		: 47
q1 					: 147.0
q2 					: 154.5
q3 					: 164.0
interquartile range (q3 dikurangi q1)	: 17.0

# 2. T-test

Dua data diatas adalah data tekanan darah (blood pressure) dari passien sebelum dan sesudah treatment. <br>
gunakan alpha = 5% untuk menentukan apakah tekanan darah setelah treatment menjadi lebih tinggi dibanding sebelum treatment.

In [27]:

# select doubt level of alpha
alpha = 0.05

# do t-test paired two sample
stats.ttest_rel(list_bp_after, list_bp_before)

Ttest_relResult(statistic=-3.3371870510833657, pvalue=0.0011297914644840823)

In [29]:
# select doubt level of alpha
alpha = 0.15
#kind of t-test is two sample
# do t-test paired two sample
alt = 'less' # 'two-sided', 'less' or 'greater'

## calculate using packages scipy.stats

stat, pval = stats.ttest_ind(list_bp_before, list_bp_after, equal_var=True, alternative=alt)

print("your p-value", pval)

# Conclusion and comparison
if alt=='two-sided':
    if pval>alpha/2:
        print("Conclusion : your null hypothesis can be accepted, first test have no effect")
    else:
        print("Conclusion : your null hypothesis rejected, first test have some effect")
else:
    if pval>alpha:
        print(f"Conclusion : your null hypothesis can be accepted, first test average is not {alt} than second")
    else:
        print(f"Conclusion : your null hypothesis rejected, first test average is {alt} than second")

your p-value 0.9987938612609606
Conclusion : your null hypothesis can be accepted, first test average is not less than second

# 3. ANOVA

Sekarang data tekanan darah (blood pressure) dari passien dibedakan menjadi 3 kelompok berdasarkan usianya. 
gunakan alpha = 5% untuk menentukan apakah tekanan darah setiap usia memiliki rata-rata yang serupa?.

In [30]:
bp_after_age30_45 = [153, 170, 168, 142, 141, 147, 133, 141, 131, 125, 164, 159, 135, 159, 153, 126, 162, 134, 136, 150
                     , 149, 142, 146, 138, 131, 145, 134, 135, 131, 135, 133, 135, 168, 144, 147, 151, 149, 147, 149, 135]

bp_after_age46_59 = [168, 155, 136, 132, 160, 160, 136, 183, 152, 162, 151, 139, 175, 184, 151, 171, 157, 159, 140, 174
                     , 127, 150, 138, 147, 157, 146, 148, 136, 146, 132, 145, 132, 157, 140, 137, 154, 169, 145, 137, 143]

bp_after_age60_plus = [167, 158, 168, 159, 153, 164, 169, 148, 185, 163, 146, 160, 175, 163, 185, 146, 176, 147, 161, 164
                       , 178, 141, 149, 148, 138, 143, 167, 158, 152, 154, 161, 143, 159, 177, 142, 152, 152, 174, 151, 163]

In [31]:
# select doubt level of alpha
alpha = 0.05

# calculate ANOVA
stats.f_oneway(bp_after_age30_45, bp_after_age46_59, bp_after_age60_plus)

F_onewayResult(statistic=12.868171507480215, pvalue=8.883841856433727e-06)

In [32]:
# select doubt level of alpha
alpha = 0.05

# calculate ANOVA
f_stat, pval = stats.f_oneway(bp_after_age30_45, bp_after_age46_59, bp_after_age60_plus)

print("your p-value", pval)

h0 = "semua tekanan darah setiap usia memiliki rata-rata yang serupa"
h1 = "ada, setidaknya satu tekanan darah setiap usia yang memiliki rata-rata berbeda"

# Conclusion and comparison
if pval>alpha/2:
    print("accept h0 :", h0)
else:
    print("reject h1 :", h1)

your p-value 8.883841856433727e-06
reject h1 : ada, setidaknya satu tekanan darah setiap usia yang memiliki rata-rata berbeda